<!--这个因为没有传script 是用来加载页面的，因为最终disqus是用评论加载到 disqus_thread 元素中-->
<!-- scripts文件是用来发请求拿到disqus数据的 -->
<% if (post.comments) { %>
  <% if (theme.comment.disqus) { %>
    <section id="comments"><%- partial('comment/disqus') %></section>
  <% } else if (theme.comment.duoshuo) { %>
    <section id="comments"><%- partial('comment/duoshuo') %></section>
  <% } else if (theme.comment.youyan) { %>
    <section id="comments"><%- partial('comment/youyan') %></section>
  <% } else if (theme.comment.facebook) { %>
    <section id="comments"><%- partial('comment/facebook') %></section>
  <% } else if (theme.comment.isso) { %>
    <section id="comments"><%- partial('comment/isso') %></section>
  <% } else if (theme.comment.changyan && theme.comment.changyan.appid && theme.comment.changyan.conf) { %>
    <section id="comments"><%- partial('comment/changyan') %></section>
<% } else if (theme.comment.gitment) { %>
    <section id="comments"><%- partial('comment/gitment').trim() %></section>
  <% } %>
<% } %>
