<!-- 文章中用到的__应该是语言包 -->
<!-- page.xxx 这个xxx可以是md文件的头部,比如文章中的banner -->
<%- partial('common/head') %>
<body>
  <div id="container" style="position: absolute;left: 0; right: 0;">
    <%- partial('common/header') %>
    <!--
      background-image: linear-gradient(to bottom, rgba(245, 248, 249, 1), rgba(245, 248, 249, 1)), url(/css/images/big_banner.png);
      background-blend-mode: color-dodge;

      background-image: linear-gradient(to bottom, rgba(245, 248, 249, .1), rgba(255, 255, 255, 1)), url(/css/images/big_banner.png);
      background-size: 100% 100%,cover;
      background-position: 0 0, center center;
      background-blend-mode: screen;
      background-repeat: no-repeat;
      width: 100%;
      height: 650px;

      filter: brightness(0.6);

      box-shadow: 0 -20px 100px 10px rgba(245, 248, 249, 1) inset;
    -->
    <% if (theme.customize.banner.enabled) { %>
      <%- partial('common/banner') %>
    <% } %>
    
    <!--个人信息部分-->
    <div class="outer">
    <!--<div class="outer">-->
      <% if (theme.customize.profile.enabled) { %>
        <%- partial('common/profile', null, {cache: !config.relative_link}) %>
      <% } %>
      <!--body 对应的就是 post page tag categories 这些定义好的页面文件-->
      <section id="main"><%- body %></section>
      <% if (theme.customize.sidebar) { %>
        <!--slidebar 右侧部分-->
        <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('common/footer', null, {cache: !config.relative_link}) %>
    <%- partial('common/scripts') %>
  </div>
</body>
</html>
